* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  header {
    /* background-color: red; */
    width: 100%;
    height: 40px;
  }
  main {
    /* background-color: green; */
    width: 600px;
    height: 300px;
    text-align: center;

  }
  footer {
    /* background-color: orange; */
    width: 100%;
    height: 40px;
  }

  #span1{
    color: blue;
}
#span2{
    color: red;
}
#span3{
    color: orange;
}
#span4{
    color: blue;
}
#span5{
    color: green;
}
#span6{
    color: red;
}

#description{
    font-size: 6rem;
}