*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#sign-in-btn{
  background-color: #4285f4;
  border: none;
  color: white;
  height: 30px;
  width: 70px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}

#appicon{
  vertical-align: middle;
  opacity: 0.5;
}

.header-right{
  float: right;
  margin-right: 25px;
}

.header-left{
  margin-left: 25px;
  margin-top: 25px;
}

nav {
  display: block;
}

div {
  display: block;
}

nav a {
  text-decoration: none;
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-size: 13px;
}

#google{
  height: 95px;
  width: 272px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

#search{
  font-size: 16px;
  height: 38px;
  width: 460px;
  border-radius: 25px;
  padding: 3px;
  border: 1px solid lightgrey;
  padding-left: 50px;
}

.searchbar{
  text-align: center;
  padding-top: 20px;
  margin-left: 60px;
}

#mag {
  height: 30px;
  width: 30px;
  position: relative;
  top: 10px;
  right: 495px;
  margin-left: 40px;
 
}

#microphone {
  position: relative;
  top: 5px;
  right: 74px;
  height: 20px;
  margin-left: -40px ;
}

.btn-container{
  text-align: center;
  padding-top: 30px;
}

#btn1 {
  height: 36px;
  width: 120px;
  border: hidden;
  border-radius: 4px;
  color: #5f6368;
  margin-right: 8px;
}

#btn2{
  height: 36px;
  width: 140px;
  border: hidden;
  border-radius: 4px;
  color: #5f6368;
}

#language {
  text-align: center;
  margin-top: 20px;
  font-size: small;
}

footer {
  width: 100%;
  padding-left: 5px;
  background-color: #f2f2f2;
  line-height: 40px;
  font-size: 14px;
  position: fixed;
  bottom: 0;
}

.footer-right{
  float: right;
  margin-right: 25px;
}

.country {
  border-bottom: 1px solid #e4e4e4;
  margin-left: 13px;
  color: #5f6368;
}

.footer-left{
  float: left
}

nav a {
  text-decoration: none;
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-size: 13px;
}
nav a:hover{
  text-decoration: underline;
}



